services:
  postgres:
    image: postgres:17.5
    container_name: azura_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  backend:
    container_name: azura_backend
    build:
      context: .
      args:
        NODE_ENV: production
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: ${DATABASE_URL}
      OTC_EMAIL: ${OTC_EMAIL}
      OTC_PASSWORD: ${OTC_PASSWORD}
      IS_PROD: ${IS_PROD}
      ALLOW_ORIGIN_LIST: ${ALLOW_ORIGIN_LIST}
      PORT: 8000
    restart: unless-stopped
    command: sh -c "npx prisma migrate deploy && npm run start"

volumes:
  postgres_data:
